@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$background-color: #0B132B;
$card-color: #240046;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/backgroundImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-color;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.firstContainer {
    margin-bottom: 15px;
    width: 360px;
    height: 125px;
    background-color: $card-color;
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 290px;
    background-color: $card-color;
    border-radius: 0.5em;
}

button {
    padding: 10px 50px 10px 50px;
    border-radius: 0.5em;
    border: none;
}

input {
    border-radius: 0.5em;
    padding: 5px;
    border: none;
    text-align: center;
    outline: $background-color 2px solid;
}

.iconCircle {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #10002B;
}

.iconCircle:hover {
    background-color: #0d0716fe;
    transition: all 0.2s;
}